/* 기본 MDX 스타일 */
.prose {
  color: #374151;
  max-width: 65ch;
}

.prose h1 {
  font-size: 2.25rem; /* 36px */
  line-height: 1.25;
}

.prose h2 {
  font-size: 1.875rem; /* 30px */
  line-height: 1.3;
}

.prose p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.prose a {
  color: #6d28d9;
  text-decoration: underline;
}

.prose ul,
.prose ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}
