.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 200px;
}

.button-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 500px;
}

.function-button {
    padding: 10px 20px;
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    box-sizing: border-box;
    text-align: center;
}

.function-button:disabled {
    background-color: cadetblue;
    color: gray;
    cursor: not-allowed;
}

.input-group {
    width: 100%;
    margin-bottom: 10px;
}

.text-group {
    width: 100%;
    margin-bottom: 10px;
}

.input-group input {
    width: 100%;
    margin-right: 10px;
    padding: 5px;
    box-sizing: border-box;
}

.text-group input {
    width: 100%;
    margin-right: 10px;
    padding: 5px;
    box-sizing: border-box;
    user-input: disabled;
}

.dropdown-group {
    width: 100%;
    margin-bottom: 10px;
}

.dropdown-group select {
    width: 100%;
    margin-right: 10px;
    padding: 5px;
    box-sizing: border-box;
}

.container {
    margin-bottom: 20px;
    margin-right: 20px;
}